<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Codenames</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="jssor.slider.mini.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/css/custom.css">
    <script src="/js/scripts.js"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div>
  <ul id="nav-mobile" class="side-nav fixed">
    <img border="0" src="http://girlgotfaith.com/wp-content/uploads/2016/06/zspycartoon.jpg" width="100%" >
     <li class="no-padding">
       <ul class="collapsible collapsible-accordion">
         <li class="bold"><a href="/" class="collapsible-header  waves-effect waves-blue">Click here to make a new game</a>
         </li>
         <li class="bold"><a  href="http://www.czechgames.com/en/codenames/" class="collapsible-header  waves-effect waves-cyan">Codenames website</a>
           <div class="collapsible-body">
             <ul>
               <br>
               <li>Spymaster input your clues here!</a></li>
             </ul>
           </div>
         </li>
           <div class = "navsearch">
             <div class="row">
               <form class="form-group" id="hint-form">
                 <label for="Spymaster">Spymaster type hint here</label>
                 <input type="text" name="hint" id="hint">
                 <button class = "btn" type="submit" name="button" id="submit-hint">Submit Hint</button>
               </form>

               <div class="well">
                 <ul id="past-hints">
                 </ul>

               </div>
           </div>
       </ul>
         <button class = "btn" id="clear-hints">Clear Hints</button>
         <br>
        <h7>Click the card below to reveal your secret key (FOR SPY MASTER EYE's ONLY!)</h7>
         <div><img id="reveal_code" <img src="/images/spycodes/spyblank.png" alt="codenames" width=100%></div>
         <div id="secret-code-dealy"></div>
         <br>


         <a class="twitter-timeline"  href="https://twitter.com/hashtag/codenames" data-widget-id="864186917717295104">#codenames Tweets</a>
       <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <br>
      <h7> Tweet at the team over at Codenames!
        <br>
      <a href="https://twitter.com/intent/tweet?button_hashtag=codenames" class="twitter-hashtag-button" data-show-count="false">Tweet #LoveTwitter</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></h7>
       </form>
     </div>
  </div>
  <nav>
  <div class="">
    <a href="#" class="brand-logo">Codenames</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="https://github.com/mreichman">Max's Github</a></li>
      <li><a href="https://github.com/ziggity">Zach's Github</a></li>
      <li><a href="https://github.com/pkarella">Peter's Github</a></li>
    </ul>
  </div>
</nav>
    <div class="container">
      <%= yield %>
    </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
  </body>
</html>
