<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Codenames</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
        <script src="jssor.slider.mini.js"></script>
          <script src="jssor.slider.mini.js"></script>
            <script src="jssor.slider.mini.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcxmyfu8n6cBVKkQtu5Fe69afp55eqwmA"></script>
        <link rel="stylesheet" href="/css/custom.css">
    <script src="/js/scripts.js"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div>
  <ul id="nav-mobile" class="side-nav fixed">
    <li class="logo"><a id="logo-container" href="/" class="brand-logo center" style="color:#711F4A" >Codenames</a></li>
     <li class="no-padding">
       <ul class="collapsible collapsible-accordion">
         <li class="bold"><a href="/" class="collapsible-header  waves-effect waves-blue">Home</a>
         </li>
         <li class="bold"><a class="collapsible-header  waves-effect waves-cyan">Create Group</a>
           <div class="collapsible-body">
             <ul>
               <li><a>Create Codenames Group</a></li>
             </ul>
           </div>
         </li>
           <div class = "navsearch">
             <div class="row">
               <form class="form-group" id="hint-form">
                 <label for="Spymaster">Spymaster type hint here</label>
                 <input type="text" name="hint" id="hint">
                 <button type="submit" name="button" id="submit-hint"></button>
               </form>

               <div class="well">
                 <ul id="past-hints">
                   <% @hints.each() do |hint| %>
                     <li><%= hint.name %></li>
                   <% end %>
                 </ul>

               </div>
           </div>
       </ul>

       <br>
       <br>
       <br>
       <br>
       <br>
       <a class="twitter-timeline"  href="https://twitter.com/hashtag/codenames" data-widget-id="864186917717295104">#codenames Tweets</a>
     <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <br>
    <h7> Tweet at the team over at Codenames!
      <br>
    <a href="https://twitter.com/intent/tweet?button_hashtag=codenames" class="twitter-hashtag-button" data-show-count="false">Tweet #LoveTwitter</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></h7>
  </div>
  <nav>
  <div class="">
    <a href="#" class="brand-logo">Codenames</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="https://github.com/mreichman">Max Github</a></li>
      <li><a href="https://github.com/ziggity">Zach's Github</a></li>
      <li><a href="https://github.com/pkarella">Peter's Github</a></li>
    </ul>
  </div>
</nav>
    <div class="container">
      <%= yield %>
    </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


  </body>
</html>
