<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Codenames</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/scripts.js"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    <a class="twitter-timeline"  href="https://twitter.com/hashtag/codenames" data-widget-id="864186917717295104">#codenames Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </body>
</html>
